* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Century Gothic', sans-serif;
    line-height: 1.15;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


$color-principal: #005989;
$color-secundario: #ffffff;
$size-texto: 1.6rem;
$size-encabezado: 2.4rem;

a {
    text-decoration: none;
    color: $color-principal;
}

a:visited,
a:link {
    color: #ffffff;
}

ul li {
    list-style: none;
}

@mixin MQ-md {
    @media (min-width: 600px) {
      @content;
    }
  }
  
  @mixin MQ-L {
    @media (min-width: 1000px) {
      @content;
    }
  }
  
  @mixin MQ-XL {
    @media (min-width:1200px) {
      @content;
    }
  }

/* HEADER */
.header {
    /* display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo centro derecha";  */
    display: flex;
    border-bottom: $color-principal solid 1px;
    justify-content: space-around;
    min-height: 8vh;
    position: sticky;
    z-index: 500;
    top: 0px;
    background-color: hsl(0, 0%, 100%, .9);
    width: 100%;

    @include MQ-XL() {
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
    }
}


.logo-wrapper {
    /* grid-area: logo; */
    min-width: 150px;
    width: 40vw;
    max-width: 250px;
    height: 10vh;
    margin-left: 2rem;

    &__img {
        object-fit: contain;
        width: 100%;
        height: 100%;

        @include MQ-XL() {
            object-position: bottom;
            max-width: 100%;
            max-height: 100%;
            margin-top: 1rem;
        }
    }
}

.search-input {
    /* grid-area: derecha; */
    align-self: center;
    border-radius: 15px;
    padding-left: 1rem;
    font-size: 1.2rem;
    min-height: 2.5rem;
    width: 30%;
    max-width: 25rem;
    height: 50%;
    order: 3;

    @include MQ-XL() {
        display: inline-block;
        width: 12vw;
        height: 50%;
        align-self: center;
        justify-self: flex-start;
        margin-right: 5rem;
        position: relative;
    }
}


/* HEADER MENU */
.menu-icon {
    width: 100%;
    object-fit: cover;
    order: 2;

    @include MQ-XL() {
        display: none;
    }
}

.nav {
    display: none;
    position: absolute;
    top: 10vh;
    width: 100%;
    z-index: 500;

    @include MQ-XL() {
        position: initial;
        background-color: transparent;
        color: var(--color-principal);
        display: flex;
        height: 100%;
    }
}

.main-menu {
    list-style: none;
    padding-left: 0;
    background-color: $color-principal;
    font-size: $size-texto;
    width: 100%;
    position: absolute;

    &__item {
        text-transform: uppercase;
        border: $color-secundario solid 1px;
        width: 100%;
        text-align: center;
        height: 100%;

        &:hover {
            @include MQ-XL() {
                color: var(--color-secundario);
                background-color: var(--color-principal);
            }
        }
    }

    &__link {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 2rem;
        font-size: $size-texto;

        &:hover {
            color: $color-principal;
            background-color: $color-secundario;
            border: $color-principal solid 2px;

            @include MQ-XL() {
                background-color: var(--color-principal);
                align-content: centers;
            }
        }

        @include MQ-XL() {
            height: 8vh;
            /* width: 100%; */
            padding: 0;
            margin-top: 6vh;
        }

        &:visited,
        &:link {
            @include MQ-XL() {
                color: inherit;
            }
        }
    }

    @include MQ-XL() {
        height: 100%;
        display: flex;
        background-color: transparent;
        align-items: end;
        width: 60vw;
        position: relative;
        margin: 0 auto;
    }
}

.nav-toggle {
    display: none;

    &:checked~.nav {
        display: inline-block;
    }

    &__label {
        grid-area: derecha;
        align-self: center;
        margin-right: 1rem;
        width: 25px;
    }
}

/* PORTADA */
.slogan {
    color: black;
    font-weight: 600;
    font-size: $size-texto;
    align-self: flex-start;
    margin-left: 2.5rem;
    font-style: italic;
    font-weight: 500;
    margin-top: 4vh;

    &__text {
        background-color: hsl(0, 0%, 100%, .0);
        border-radius: 5px;
        padding: 0.4rem;
        margin: 0.4rem;
        font-weight: 500;
        
        @include MQ-L() {
            margin-left: .2rem;
            padding: 0;
            font-size: 1.8rem;
        }
    }

    @include MQ-L() {
            display: flex;
            margin-top: 8rem;
    }
}

.hero-container {
    background-image: url(../img/portadaindex-L.jpg);
    background-color: $color-principal;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30%;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: top left 25%;
    background-repeat: no-repeat;

    &__heading {
        display: none;
    }

    &__cta-wrapper {
        position: relative;
        margin-bottom: 100px;
    }

    &__cta-link {
        height: 6.6rem;
        padding: 10px 15px 10px 15px;
        background-color: $color-principal;
        color: $color-secundario;
        border: black solid 2px;
        border-radius: 20px;
        font-weight: 400;
        font-size: $size-texto;

        &:hover {
            color: $color-principal;
            background-color: $color-secundario;
            font-weight: 600;
        }
    }

    @include MQ-L() {
        background-position: top center
    }
}

/* SECCIÓN NOSOTROS */

.about-container {
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    align-items: start;
    row-gap: 0;
    max-height: 700px;
    margin: 3.2rem auto;

    &__text {
        border-width: 1px 1px 0px 1px;
        border-style: solid;
        border-color: black;
        margin: 3.2rem auto 0 auto;
        text-align: justify;
        line-height: 1.5;
        padding: 1.4rem 2.8rem;
        max-width: 500px;
        font-size: $size-texto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-principal;
        color: $color-secundario;

        @include MQ-L() {
            margin: 0 0 0 auto;
            height: 402px;
            max-width: 72rem;
            width: 33vw;
            min-width: 50rem;
        }
    }

    &__heading {
        margin-bottom: 1.6rem;
    }

    &__img-wrapper {
        margin: 0 auto 25px auto;
        max-width: 500px;
        height: fit-content;

        @include MQ-L() {
            margin: 0 auto 0 0;
            max-width: 72rem;
            width: 33vw;
            min-width: 50rem;
        }
    }

    &__img {
        object-fit: cover;
        max-width: 100%;

        @include MQ-L() {
            height: 402px;
        }
    }

    @include MQ-L() {
        display: flex;
        align-items: start;
        margin: 10rem auto;
    }
}

/* TESTIMONIAL */

.testimonial {
    width: 100vw;
    min-height: 160px;
    padding: 3.2rem;
    background: linear-gradient(135deg, rgb(0, 89, 137) 35%, rgb(57, 139, 183) 70%, rgb(165, 214, 242) 96%);
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    margin: 3.2rem 0;
    display: flex;
    align-items: center;
    height: 20vh;

    &__text {
        color: $color-secundario;
        font-size: $size-texto;
        font-weight: 500;
        
        @include MQ-L() {
            font-size: var(--size-encabezado);
        }
    }

    &__heading {
        margin-bottom: 1.6rem;
        display: inline-block;
    }

    @include MQ-L() {
        margin-bottom: 10rem;
        min-height: 33vh;
    }
}

/* ARTÍCULOS SERVICES */

.services {
    max-width: 1280px;
    margin: 0 25px 50px;
    display: grid;
    justify-items: center;
    row-gap: 5rem;
    column-gap: 2.5rem;

    &-heading {
        margin: 0 auto 50px;
        text-align: center;
        color: #333;
        font-size: $size-encabezado;
    }

    &-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        justify-content: space-between;
        background-color: transparent;

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-top: black solid 1px;
            background-color: $color-principal;
            color: $color-secundario;
            min-height: 250px;
            flex-grow: 1;
            font-size: 1.4rem;
            border-radius: 0 0 15px 15px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }

        &__img-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            column-gap: 0;
            background-color: whitesmoke;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }

        &__img {
            object-fit: cover;
            max-width: 100%;
            border-radius: 15px 15px 0 0;
        }

        &__heading {
            font-size: $size-texto;
            text-align: center;
            margin-bottom: 1.6rem;
            text-transform: uppercase;
        }

        &__text {
            font-size: $size-texto;
            text-align: center;
            padding: 1.6rem;
        }

        &--mobile1 {
            display: none;
            @include MQ-md {
                display: block;
            }
            @include MQ-XL() {
                display: block;
            }
        }
        &--mobile2 {
            display: none;
            @include MQ-XL() {
                display: block;
            }
        }

        @include MQ-md {
                padding: 4.5rem 3rem;
        }
    }

    @include MQ-md {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 0;
        
    }

    @include MQ-XL() {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto 50px;
        padding: 0 0;
        column-gap: 0rem;
    }
}

/* FOOTER */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-size: 1.4rem;
    background-color: $color-principal;
    color: $color-secundario;
    font-weight: 500;
    padding: 1.6rem;
    border: black solid 2px;
    gap: 2rem;

    &__heading {
        font-size: $size-texto;
        margin-bottom: 1.6rem;
    }

    &-contacto {
        order: 1;
        min-width: 120px;
        max-width: 320px;
        line-height: 1.8rem;

        @include MQ-L() {
            margin-left: 2.5rem;
        }
    }

    &-centro {
        order: 3;
        min-width: 120px;
        line-height: 2.4rem;
        color: $color-principal;
        color: $color-secundario;

        &__text {
            display: inline-block;
        }
        
        @include MQ-L() {
        order: 2;
        max-width: 43%;
        }
    }

    &-mapa {
        order: 2;
        min-width: 120px;
        line-height: 2.5rem;
        color: #ffffff;

        @include MQ-L() {
            order: 3;
            margin-right: 1.8rem;
        }
    }

    @include MQ-md {
        justify-content: space-around;
    }

    @include MQ-L() {
        padding: 1.6rem 0;
        gap: 2rem;
        justify-content: space-around;
        align-items: center;
    }
}

/* PAGINA DE CONTACTO */

/* HEADING */

.contact-heading {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: $size-encabezado;
    align-items: center;
    color: #00456a;

    @include MQ-L() {
        grid-area: heading;
        justify-self: center;
    }
}

/* LOCATION */

.location-container {
    margin: 5rem auto;
    padding: 0 1.6rem;
    /* max-height: 620px; */
    @include MQ-L() {
        display: flex;
        align-items: start;
        margin: 10rem auto;
        width: 80vw;
        max-width: 1900px;
    }
}

.location-text {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: black;
    margin: 3.2rem auto 0 auto;
    line-height: 1.8;
    padding: 1.6rem 3.2rem;
    max-width: 600px;
    min-height: 300px;
    font-size: $size-texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    color: black;

    @include MQ-L() {
        margin: 0 0 0 auto;
        width: 40vw;
        max-width: none;
        min-height: 500px;
    }
}

/* MAP IFRAME */

.map {
    margin: 0 auto 25px auto;
    max-width: 600px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;

    &__iframe {
        object-fit: cover;
        width: 100%;
        min-height: 400px;

        @include MQ-L() {
            width: 40vw;
            min-height: 500px;
        }
    }

    @include MQ-L() {
        margin: 0 auto 0 0;
        max-width: 1900px;
    }
}

/* CONTACT FORM */

.contact-form {
    display: grid;
    row-gap: 2rem;
    justify-items: center;
    margin: 3.2rem;
    border: $color-principal solid 2px;

    &__input {
        min-width: 10rem;
        width: 60vw;
        max-width: 30rem;
        height: 3.2rem;
        padding: 2rem 1rem;
        border: none;
        outline: none;
        border-bottom: 2px solid $color-principal;
        background: $color-secundario;
        font-weight: 400;
        text-align: left;
        transition: 0.4 linear;
        font-size: $size-texto;

        &:focus,
        &:valid {
            background-color: #e6f6ff;
            color: black;
            border-radius: 20px;
        }

        &1 {
            @include MQ-L() {
            grid-area: input1;
            justify-self: end;
        }
        }
        
        &2 {
            @include MQ-L() {
            grid-area: input2;
            justify-self: start;
        }
        }

        &3 {
            @include MQ-L() {
            grid-area: input3;
            justify-self: end;
        }
        }

        &4 {
            @include MQ-L() {
            grid-area: input4;
            justify-self: start;
        }
        }
        
        @include MQ-L() {
        max-width: none;
        width: 60%;
    }
    }

    &__consulta {
        font-size: $size-texto;
        display: inline-block;
        width: 60vw;
        max-width: 1000px;
        border-color: #00456a;
        border-radius: 20px;
        padding: 1rem;
        font-size: $size-texto;

        &-label {
            font-size: $size-texto;
            color: $color-principal;
            font-weight: 600;
            margin-left: 1rem;

            @include MQ-L() {
                display: inline-block;
                grid-area: label;
                justify-self: left;
                margin-left: 20%;
                margin-top: 3.2rem;
            }
        }
        
        @include MQ-L() {
        grid-area: textArea;
        justify-self: center;
        width: 60%;
    }
    }

    &__submit {
        padding: 0.5rem;
        display: block;
        min-width: 16rem;
        background-color: $color-principal;
        color: $color-secundario;
        font-size: $size-texto;
        border-radius: 2rem;
        box-shadow: 0 0.2rem 0.2rem 0 black;
        margin: 1rem auto;

        @include MQ-L() {
            grid-area: submit;
            justify-self: center;
            align-self: center;
        }
    }

    @include MQ-L() {
        max-width: 1440px;
        width: 80vw;
        margin: 10rem auto;
        display: grid;
        grid-template:  [heading-left] "heading heading" auto  [heading-right]
                        [input1-left] "input1  input2" auto    [input2-right]
                        [input3-left] "input3  input4" auto    [input4-right]
                        [label-left]   "label label" auto    [label-right]
                        [textArea-left]"textArea textArea" auto[textArea-right]
                        [submit-left]	"submit submit" auto   [submit-right]
                        / auto auto;  
        justify-items: center;
        align-items: start;
        column-gap: 1.6rem;
        border: var(--color-principal) solid 3px;
    }
}

::placeholder {
    color: $color-principal;
}


/* PÁGINA NUESTRO EQUIPO */

.team-intro {
    display: flex;
    flex-direction: column;
    margin: 3.2rem;
    padding: 1rem;
    gap: 1.6rem;
    font-size: $size-texto;
    text-align: justify;
    border: $color-principal solid 2px;
    background-color: whitesmoke;

    &__header {
        color: #333;
        font-size: $size-encabezado;
    }
}


.team-container {
    display: flex;
    flex-direction: column;
    margin: 5rem 1.6rem;
    align-items: center;
    gap: 2rem;
}

.team-article {
    display: inline-block;

    &__card {
        color: $color-secundario;
        background-color: $color-principal;
        text-align: center;
        line-height: 1.6rem;
        padding: 1.6rem;
        border-radius: 0 0 15px 15px;
        width: 50vw;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        h2 {
            margin: 1.6rem;
        }
    }

    &__img {
        max-width: 100%;
        object-fit: contain;
        border-radius: 15px 15px 0 0;
        background-color: whitesmoke;

        &-wrapper {
            width: 50vw;
            font-size: $size-texto;
        }
    }
    &--mobile1,
    &--mobile2 {
    display: none;
}
}

/* MEDIA QUERIES */

@media (min-width: 1200px) {

    .header {
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
    }

    .nav {
        position: initial;
        background-color: transparent;
        color: $color-principal;
        display: flex;
        height: 100%;
    }


    .logo-wrapper__img {
        object-position: bottom;
        max-width: 100%;
        max-height: 100%;
        margin-top: 1rem;
    }

    .search-input {
        display: inline-block;
        width: 12vw;
        height: 50%;
        align-self: center;
        justify-self: flex-start;
        margin-right: 5rem;
        position: relative;
    }

    .main-menu {
        height: 100%;
        display: flex;
        background-color: transparent;
        align-items: end;
        width: 60vw;
        position: relative;
        margin: 0 auto;
    }

    .menu-icon {
        display: none;
    }

    .main-menu__link {
        height: 8vh;
        /* width: 100%; */
        padding: 0;
        margin-top: 6vh;
    }

    .main-menu__link:hover {
        background-color: $color-principal;
        align-content: centers;
    }

    .main-menu__item:hover {
        color: $color-secundario;
        background-color: $color-principal;
    }

    .main-menu__link:visited,
    .main-menu__link:link {
        color: inherit;
    }

    .services {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto 50px;
        padding: 0 0;
        column-gap: 0rem;
    }

    .services-article--mobile1,
    .services-article--mobile2 {
        display: block;
    }
}