* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Century Gothic', sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --color-principal: #005989;
    --color-secundario: #ffffff;
    --size-texto: 1.6rem;
    --size-encabezado: 2rem;
}

a {
    text-decoration: none;
    color: var(--color-principal);
}

/* HEADER */
.header {
    /* display: grid; */
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo centro derecha";
    border-bottom: var(--color-principal) solid 1px;
    flex-wrap: wrap;
    justify-content: space-around;
    /* cambiar height con resolución desktop  */
    min-height: 8vh;
    z-index: 1000;
    position: sticky;
    top: 0px;
    background-color: hsl(0, 0%, 100%, .9);
    width: 100%;
}


.logo {
    grid-area: logo;
    width: 30vw;
    min-width: 150px;
    max-width: 235px;
}

.logo__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.search-area {
    grid-area: derecha;
    max-width: 20%;
    align-self: center;
    justify-self: right;
    border-radius: 15px;
}

.menu-icon {
    grid-area: derecha;
    align-self: center;
    justify-self: end;
    margin-right: 10px;
}

/* Menú header */
.nav {
    display: none;
}

.main-menu {
    list-style: none;
    padding-left: 0;
}

.main-menu__link {
    font-size: 1.6rem;
}

/* PORTADA */

.hero-container {
    background-image: url(./img/portadaindex-L.jpg);
    background-color: var(--color-principal);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30%;
    width: 100vw;
    background-size: cover;
    /* cambiar height con resolución desktop */
    height: 52vh;
}

.slogan {
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 2px;
    align-self: flex-start;
    margin-left: 2.5rem;
    font-style: italic;
    font-weight: 500;
    margin-top: 4vh;
}

.slogan__text {
    background-color: hsl(0, 0%, 100%, .0);
    border-radius: 5px;
    padding: 0.4rem;
    margin: 0.4rem;
    font-weight: 500;
}

.hero__heading {
    font-weight: 200;
    display: none;
    margin-top: 25%;
}

.hero__cta {
    margin-bottom: 100px;
}

.hero__cta-link {
    height: 66px;
    padding: 10px 15px 10px 15px;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border: black solid 1px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 1.2rem;
}

/* SECCIÓN NOSOTROS */

.about-container {
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    align-items: start;
    row-gap: 0;
}

.about__text {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: black;
    margin: 25px auto 0 auto;
    text-align: justify;
    line-height: 1.5;
    padding: 1.4rem 2.8rem;
    max-width: 500px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.about__img-container {
    margin: 0 auto 25px auto;
    max-width: 500px;
    /* display: flex;
    align-items: center; */

}

.about__img {
    object-fit: cover;
    max-width: 100%;
    border: solid black 1px;
    /* border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black; */
}

/* TESTIMONIAL */
.testimonials--mobile {
    display: none;
}

/* ARTÍCULOS SERVICES */

.services {
    /* display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between; */
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    gap: 1.6rem;
    border: var(--color-principal) solid 1px;
}
.services-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 1px;
}

.services-article__img {
    object-fit: cover;
    max-width: 100%;
}

.services-article__heading {

}

.services-article__heading {
    
}
.services-article--mobile {
    display: none;
}