* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Century Gothic', sans-serif;
    line-height: 1.15;
}


:root {
    --color-principal: #005989;
    --color-secundario: #ffffff;
    --size-texto: 1.6rem;
    --size-encabezado: 2.4rem;
}

a {
    text-decoration: none;
    color: var(--color-principal);
}

a:visited,
a:link {
    color: #ffffff;
}

ul li {
    list-style: none;
}

/* HEADER */
.header {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo centro derecha"; */
    display: flex;
    border-bottom: var(--color-principal) solid 1px;
    justify-content: space-around;
    min-height: 10vh;
    z-index: 1000;
    position: sticky;
    top: 0px;
    background-color: hsl(0, 0%, 100%, .9);
    width: 100%;
}


.logo {
    grid-area: logo;
    width: 30vw;
    min-width: 150px;
    max-width: 235px;
}

.logo__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.search-area {
    grid-area: derecha;
    max-width: 20%;
    align-self: center;
    justify-self: right;
    border-radius: 15px;
    padding-left: 1rem;
}

.menu-icon {
    grid-area: derecha;
    align-self: center;
    justify-self: end;
    margin-right: 10px;
    width: 25px;
}

/* HEADER MENU */
.nav {
    display: none;
}

.main-menu {
    list-style: none;
    padding-left: 0;
}

.main-menu__link {
    font-size: 1.6rem;
}

/* PORTADA */

.hero-container {
    background-image: url(./img/portadaindex-L.jpg);
    background-color: var(--color-principal);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30%;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: top left 25%;
    background-repeat: no-repeat;
}

.slogan {
    color: black;
    font-weight: 600;
    font-size: var(--size-texto);
    align-self: flex-start;
    margin-left: 2.5rem;
    font-style: italic;
    font-weight: 500;
    margin-top: 4vh;
}

.slogan__text {
    background-color: hsl(0, 0%, 100%, .0);
    border-radius: 5px;
    padding: 0.4rem;
    margin: 0.4rem;
    font-weight: 500;
}

.hero__heading {
    display: none;
}

.hero__cta-wrapper {
    margin-bottom: 100px;
}

.hero__cta-link {
    height: 6.6rem;
    padding: 10px 15px 10px 15px;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border: black solid 1px;
    border-radius: 20px;
    font-weight: 400;
    font-size: var(--size-texto);
}

/* SECCIÓN NOSOTROS */

.about-container {
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    align-items: start;
    row-gap: 0;
    max-height: 700px;
    margin: 3.2rem auto;
}

.about__text {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: black;
    margin: 3.2rem auto 0 auto;
    text-align: justify;
    line-height: 1.5;
    padding: 1.4rem 2.8rem;
    max-width: 500px;
    font-size: var(--size-texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.about__heading {
    margin-bottom: 1.6rem;
}

.about__img-container {
    margin: 0 auto 25px auto;
    max-width: 500px;
    height: fit-content;
    /* display: flex;
    align-items: center; */

}

.about__img {
    object-fit: cover;
    max-width: 100%;
}

/* TESTIMONIAL */

.testimonial {
    width: 100vw;
    min-height: 160px;
    padding: 3.2rem;
    background: linear-gradient(135deg, rgb(0, 89, 137) 35%, rgb(57, 139, 183) 70%, rgb(165, 214, 242) 96%);
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    margin: 3.2rem 0;
    display: flex;
    align-items: center;
    height: 20vh;
}

.testimonial__text {
    color: var(--color-secundario);
    font-size: var(--size-texto);
    font-weight: 500;
}

.testimonial__heading {
    margin-bottom: 1.6rem;
    display: inline-block;
}

/* ARTÍCULOS SERVICES */

.services {
    /* display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between; */
    max-width: 1280px;
    margin: 0 25px 50px;
    display: grid;
    justify-items: center;
    row-gap: 5rem;
    column-gap: 2.5rem;
}

.services-heading {
    margin: 0 auto 50px;
    text-align: center;
    font-size: var(--size-encabezado);
}

.services-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    justify-content: space-between;
}

.services-article__card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    min-height: 250px;
    flex-grow: 1;
}

.services-article__img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 0;
}

.services-article__img {
    object-fit: cover;
    max-width: 100%;
}

.services-article__heading {
    font-size: var(--size-encabezado);
    text-align: center;
    margin-bottom: 1.6rem;
}

.services-article__text {
    font-size: var(--size-texto);
    text-align: center;
    padding: 1.6rem;
}

.services-article--mobile1,
.services-article--mobile2 {
    display: none;
}

/* FOOTER */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-size: var(--size-texto);
    background-color: var(--color-principal);
    color: var(--color-secundario);
    font-weight: 500;
    padding: 1.6rem;
    border: black solid 2px;
    gap: 3.2rem;
}

.footer__heading {
    font-size: var(--size-encabezado);
    margin-bottom: 1.6rem;
}

.footer-contacto {
    order: 1;
    min-width: 120px;
    max-width: 320px;
    line-height: 2.2rem;
}

.footer-centro {
    order: 3;
    min-width: 120px;
    line-height: 2.4rem;
    color: var(--color-principal);
    color: var(--color-secundario);
}

.footer-centro__text {
    display: inline-block;
}

.footer-mapa {
    order: 2;
    min-width: 120px;
    line-height: 2.5rem;
    color: #ffffff;
}

/* PAGINA DE CONTACTO */

/* HEADING */

.contact-heading {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: var(--size-encabezado);
    align-items: center;
    color: #00456a;
}

/* LOCATION */

.location-container {
    margin: 5rem auto;
    padding: 0 1.6rem;
    /* max-height: 620px; */
}

.location-text {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: black;
    margin: 3.2rem auto 0 auto;
    line-height: 1.8;
    padding: 1.6rem 3.2rem;
    max-width: 600px;
    min-height: 300px;
    font-size: var(--size-texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
}

/* MAP IFRAME */

.map {
    margin: 0 auto 25px auto;
    max-width: 600px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;
}

.map__iframe {
    object-fit: cover;
    width: 100%;
    min-height: 400px;
}

/* CONTACT FORM */

.contact-form {
    display: grid;
    row-gap: 2rem;
    justify-items: center;
    margin: 3.2rem;
    border:var(--color-principal) solid 2px;
}

.contact-form__input {
    min-width: 10rem;
    width: 60vw;
    max-width: 30rem;
    height: 5rem;
    padding: 1rem;
    background: #FFFFFF;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-weight: 400;
    text-align: left;
}

.contact-form__consulta {
    font-size: var(--size-texto);
    display: inline-block;
    width: 60vw;
    max-width: 1000px;
}

.contact-form__consulta-label {
    font-size: var(--size-texto);
}

.contact-form__submit {
    padding: 0.5rem;
    display: block;
    min-width: 16rem;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    font-size: var(--size-texto);
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.2rem 0 black;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-article--mobile1 {
        display: block;
    }

    .testimonial__text {
        font-size: var(--size-texto);
    }

    .footer {
        justify-content: space-around;
    }
}


@media (min-width: 1000px) {
    .about-container {
        display: flex;
        align-items: start;
        margin: 10rem auto;
    }

    .about__text {
        margin: 0 0 0 auto;
        height: 402px;
    }

    .about__img-container {
        margin: 0 auto 0 0;
    }

    .about__img {
        height: 402px;
    }

    .slogan {
        display: flex;
        margin-top: 8rem;
    }

    .slogan__text {
        margin-left: .2rem;
        padding: 0;
        font-size: 1.8rem;
    }

    .hero-container {
        background-position: top center
    }

    .footer {
        padding: 1.6rem 0;
        gap: 2rem;
        justify-content: space-around;
        align-items: center;
    }

    .footer-contacto {
        margin-left: 2.5rem;
    }

    .footer-centro {
        order: 2;
        max-width: 43%;
    }

    .footer-mapa {
        order: 3;
        margin-right: 1.8rem;
    }

    .testimonial {
        margin-bottom: 10rem;
        min-height: 25vh;
    }

    .testimonial__text {
        font-size: var(--size-encabezado);
    }

    .about__text,
    .about__img-container {
        max-width: 72rem;
        width: 33vw;
        min-width: 50rem;
    }

    /* PAGINA DE CONTACTO */

    .location-container {
        display: flex;
        align-items: start;
        margin: 10rem auto;
        width: 80vw;
        max-width: 1900px;
    }

    .location-text {
        margin: 0 0 0 auto;
        width: 40vw;
        max-width: none;
        min-height: 500px;
    }

    .map {
        margin: 0 auto 0 0;
        max-width: 1900px;
    }

    .map__iframe {
        width: 40vw;
        min-height: 500px;
    }

    /* CONTACT FORM */

    .contact-form {

        max-width: 1440px;
        width: 80vw;
        margin: 10rem auto;
        display: grid;
        grid-template:  [heading-left] "heading heading" auto  [heading-right]
                        [input1-left] "input1  input2" auto    [input2-right]
                        [input3-left] "input3  input4" auto    [input4-right]
                        [textArea-left]"textArea textArea" auto[textArea-right]
                        [submit-left]	"submit submit" auto   [submit-right]
                        / auto auto;
        justify-items: center;
        align-items: start;
        column-gap: 1.6rem;
        border:var(--color-principal) solid 3px;
    }

    .contact-heading {
        grid-area: heading;
        justify-self: center;
    }

    .contact-form__input1 {
        grid-area: input1;
        justify-self: end;
    }

    .contact-form__input2 {
        grid-area: input2;
        justify-self: start;
    }

    .contact-form__input3 {
        grid-area: input3;
        justify-self: end;
    }

    .contact-form__input4 {
        grid-area: input4;
        justify-self: start;
    }

    .contact-form__consulta-label {
        display: none;
    }

    .contact-form__input {
        max-width: none;
        width: 60%;
    }

    .contact-form__consulta {
        grid-area: textArea;
        justify-self: center;
        width: 60%;
    }

    .contact-form__submit {
        grid-area: submit;
        justify-self: center;
        align-self: center;
    }

}

@media (min-width: 1200px) {
    .services {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto 50px;
        padding: 0 3.2rem;
        column-gap: 3.2rem;
    }

    .services-article--mobile1,
    .services-article--mobile2 {
        display: block;
    }

}