/* LOCATION */

.location-container {
    margin: 5rem auto;
    padding: 0 1.6rem;

    /* max-height: 620px; */
    @include MQ-L() {
        display: flex;
        align-items: start;
        margin: 10rem auto;
        width: 80vw;
        max-width: 1900px;
    }
}

.location-text {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: black;
    margin: 3.2rem auto 0 auto;
    line-height: 1.8;
    padding: 1.6rem 3.2rem;
    max-width: 600px;
    min-height: 300px;
    font-size: $size-texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    color: black;

    @include MQ-L() {
        margin: 0 0 0 auto;
        width: 40vw;
        max-width: none;
        min-height: 500px;
    }
}

/* MAP IFRAME */

.map {
    margin: 0 auto 25px auto;
    max-width: 600px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;

    &__iframe {
        object-fit: cover;
        width: 100%;
        min-height: 400px;

        @include MQ-L() {
            width: 40vw;
            min-height: 500px;
        }
    }

    @include MQ-L() {
        margin: 0 auto 0 0;
        max-width: 1900px;
    }
}

/* CONTACT FORM */

.contact-form {
    display: grid;
    row-gap: 2rem;
    justify-items: center;
    margin: 3.2rem;
    border: $color-principal solid 2px;

    &__input {
        min-width: 10rem;
        width: 60vw;
        max-width: 30rem;
        height: 3.2rem;
        padding: 2rem 1rem;
        border: none;
        outline: none;
        border-bottom: 2px solid $color-principal;
        background: $color-secundario;
        font-weight: 400;
        text-align: left;
        transition: 0.4 linear;
        font-size: $size-texto;

        &:focus,
        &:valid {
            background-color: #e6f6ff;
            color: black;
            border-radius: 20px;
        }

        &1 {
            @include MQ-L() {
                grid-area: input1;
                justify-self: end;
            }
        }

        &2 {
            @include MQ-L() {
                grid-area: input2;
                justify-self: start;
            }
        }

        &3 {
            @include MQ-L() {
                grid-area: input3;
                justify-self: end;
            }
        }

        &4 {
            @include MQ-L() {
                grid-area: input4;
                justify-self: start;
            }
        }

        @include MQ-L() {
            max-width: none;
            width: 60%;
        }
    }

    &__consulta {
        font-size: $size-texto;
        display: inline-block;
        width: 60vw;
        max-width: 1000px;
        border-color: #00456a;
        border-radius: 20px;
        padding: 1rem;
        font-size: $size-texto;

        &-label {
            font-size: $size-texto;
            color: $color-principal;
            font-weight: 600;
            margin-left: 1rem;

            @include MQ-L() {
                display: inline-block;
                grid-area: label;
                justify-self: left;
                margin-left: 20%;
                margin-top: 3.2rem;
            }
        }

        @include MQ-L() {
            grid-area: textArea;
            justify-self: center;
            width: 60%;
        }
    }

    &__submit {
        padding: 0.5rem;
        display: block;
        min-width: 16rem;
        background-color: $color-principal;
        color: $color-secundario;
        font-size: $size-texto;
        border-radius: 2rem;
        box-shadow: 0 0.2rem 0.2rem 0 black;
        margin: 1rem auto;

        @include MQ-L() {
            grid-area: submit;
            justify-self: center;
            align-self: center;
        }
    }

    @include MQ-L() {
        max-width: 1440px;
        width: 80vw;
        margin: 10rem auto;
        display: grid;
        grid-template: [heading-left] "heading heading" auto [heading-right] [input1-left] "input1  input2" auto [input2-right] [input3-left] "input3  input4" auto [input4-right] [label-left] "label label" auto [label-right] [textArea-left]"textArea textArea" auto[textArea-right] [submit-left] "submit submit" auto [submit-right] / auto auto;
        justify-items: center;
        align-items: start;
        column-gap: 1.6rem;
        border: $color-principal solid 3px;
    }
}

::placeholder {
    color: $color-principal;
}