/* PORTADA */

.h1 {
    display: none;
}

.carousel {
    margin: 0 auto;
    padding: 0 5%;

    @media (max-width: 800px) {
        padding: 0;
    }

    &-item {
        height: 86vh;
    }


    &__slogan {
        color: white;
        font-size: $size-texto;
        font-style: italic;
        background-color: hsl(201, 100%, 27%, .8);
        transition: background-color 2s ease-in;
        border-radius: 20px;
        padding: 0.4rem 1.6rem;
        width: fit-content;
        margin: 0 auto 5% auto;
        position: absolute;
        top: 10%;
        left: 18%;

        @include MQ-max-s {
            left: 10%;
            right: 10%;
        }
    }

    &-caption {
        width: 100%;
        height: 100%;
        display: flex !important;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        font-size: 2rem;
        color: $color-secundario;
        background-color: hsl(201, 100%, 27%, .6);
        transition: background-color 2s ease-in;
        padding: 0.4rem 1.6rem;
        position: relative;
        bottom: 50%;
        max-width: 50%;
    }
}

/* TESTIMONIAL */

.testimonial {
    width: 100vw;
    min-height: 160px;
    padding: 3.2rem;
    background: linear-gradient(135deg, rgb(0, 89, 137) 35%, rgb(57, 139, 183) 70%, rgb(165, 214, 242) 96%);
    margin: 3.2rem 0;
    display: flex;
    align-items: center;
    height: 20vh;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

    &__text {
        color: $color-secundario;
        font-size: $size-texto;
        font-weight: 500;

        @include MQ-L() {
            font-size: $size-encabezado;
        }
    }

    &__heading {
        margin-bottom: 1.6rem;
        display: inline-block;
    }

    @include MQ-L() {
        margin-bottom: 10rem;
        min-height: 33vh;
    }
}