/* PÁGINA NUESTRO EQUIPO */

.team-intro {
    display: flex;
    flex-direction: column;
    margin: 3.2rem;
    padding: 1rem;
    gap: 1.6rem;
    font-size: $size-texto;
    text-align: justify;
    border: $color-principal solid 2px;
    background-color: whitesmoke;

    &__header {
        color: #333;
        font-size: $size-encabezado;
    }

    &__text--desktop {
        display: none;
        @include MQ-md {
            display:inline-block;
        }
    }
}

.team-container {
    display: flex;
    flex-direction: column;
    margin: 5rem 1.6rem;
    align-items: center;
    gap: 2.5rem;

    @include MQ-md {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5rem 2.5rem;
    }
    @include MQ-L {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1280px;
    }

}

.team-article {
    display: inline-block;

    &__card {
        color: $color-secundario;
        background-color: $color-principal;
        font-size: $size-texto;
        text-align: justify;
        line-height: 2rem;
        padding: 1.6rem;
        border-radius: 0 0 15px 15px;
        width: 80vw;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        border-color: $color-principal;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


        h2 {
            margin: 1.6rem;
            text-align: center;
        }

        p:nth-child(2) {
            text-align: center;
            margin-bottom: 1rem;
        }

        @include MQ-md {
            width: 100%;
            margin: 0 auto;
            height: fit-content;
            padding: 0 1.6rem 1rem;
            display: flex;
            flex-direction: column;
        }

        @include MQ-mt {
            max-width: 362.5px;
            display: flex;
        }
    }

    &__img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        background-color: whitesmoke;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        border-color: black;

        @include MQ-md {
            min-height: 220px;
        }

        &-wrapper {
            width: 80vw;
            font-size: $size-texto;
            object-fit: cover;
            height: 100%;

            @include MQ-md {
                width: 100%;
                margin: 0 auto;
                height: 100%;
                object-fit: cover;
            }
            @include MQ-mt {
                max-width: 362.5px;
            }
        }
    }
    
    &--mobile1 {
        display: none;
        @include MQ-md {
            display: inline-block;
        }
    }

    &--mobile2 {
    display: none;
    @include MQ-L {
        display: inline-block;
    }
}
}

