* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Century Gothic', sans-serif;
  line-height: 1.15;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


$color-principal: #005989;
$color-secundario: #ffffff;
$size-texto: 1.6rem;
$size-encabezado: 2.4rem;

a {
  text-decoration: none;
  color: $color-principal;
}

a:visited,
a:link {
  color: #ffffff;
}

ul li {
  list-style: none;
}

@mixin MQ-md {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin MQ-L {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin MQ-XL {
  @media (min-width:1200px) {
    @content;
  }
}